.free_options
	@extend %regular_block
	text-align: center
	.title
		margin: 0 0 15px 0
		@extend %block_title
		&.desktop
			display: none
	.body
		.options
			display: flex
			gap: 10px
			flex-wrap: wrap
			margin: 0 0 20px 0
			.item
				width: calc( (100% - 10px) /2 )
				border: 1px solid #E1E1E1
				padding: 10px 10px 15px 10px
				display: flex
				flex-direction: column
				justify-content: flex-end
				align-items: center
				box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15)
				img
					margin: 0 0 10px
					width: fit-content
		button.mobile.black
			padding: 20px 35px
			font-size: 22px
			max-width: 300px
			width: 100%
		form
			display: none
		.even_if
			margin: 0 0 20px 0
@media (min-width: 768px)
	.free_options
		.body
			.right
				.options
					.item
						width: calc((100% - 30px)/ 4)
@media (min-width: 992px)
	.free_options
		.title
			text-align: left
			max-width: 800px
			margin: 0 0 30px 0
			&.mobile
				display: none
			&.desktop
				display: block
		.body
			.options
				gap: 20px
				margin: 0 0 40px 0
				.item
					width: calc((100% - 60px)/ 4)
					padding: 13px 50px
					justify-content: space-between
					p
						font-size: 22px
						font-weight: 600
			button.mobile.black
				display: none
			form
				display: flex
				gap: 20px
				margin: 0 0 20px 0
				justify-content: center
				>*
					width: calc( (100% - 20px) / 2 )
				input
					padding: 20px 0 20px 30px
					font-size: 22px
					border: 1px solid #23292F
					border-radius: 5px
					max-width: 285px
					&::placeholder
						color: #23292F
				input[type="submit"]
					padding: 20px 0
					font-size: 22px
			.even_if
				display: block