.main_screen_special_offer
	padding: 30px 90px 45px 0
	margin: 0 0 50px 0
	position: relative
	overflow: hidden
	.body
		max-width: 1230px
		padding: 0 15px
		h1
			font-size: 32px
			font-weight: 800
		.subtitle
			font-size: 22px
			margin: 0 0 10px 0
		.price
			font-size: 40px
			font-weight: 800
			color: #EB3323
			margin: 0 0 15px 0
			span
				font-size: 24px
				font-weight: 400
				color: #23292f
				&:first-child
					display: none
		.offer
			margin: 0 0 30px 0
			.red
				background-color: #EB3323
				color: #fff
				padding: 5px 22px
				border-radius: 5px
				font-size: 12px
				width: fit-content
				transform: skew(-20deg, 0)
				box-shadow: 1.98282px 1.98282px 4.95706px rgba(0, 0, 0, 0.25)
				margin: 0 0 0 20px
				position: relative
				span
					display: block
					transform: skew(20deg, 0)
			.fixtures
				background-color: #fff
				border-radius: 20px
				box-shadow: 0px 1.98282px 14.8712px rgba(0, 0, 0, 0.15)
				padding: 10px 20px 17px 0
				position: relative
				width: 165px
				transform: translateY(-2px) skew(-20deg, 0)
				margin: 0 0 0 10px
				img
					position: absolute
					transform: skew(20deg, 0)
					left: -25px
					top: -23px
				p
					transform: skew(20deg, 0)
					font-size: 14px
					font-weight: 700
					width: fit-content
					margin: 0 0 0 auto
		.accurate_calculation
			font-size: 14px
			font-weight: 700
			margin: 0 0 10px 0
			span
				display: block
		button
			padding: 13px 24px
	.image_on_top
		position: absolute
		bottom: 0
		right: -90px
		z-index: 3
		max-width: 82%
		max-height: 100%
		
@media (min-width: 480px)
	.main_screen_special_offer
		.body
			.accurate_calculation
				span
					display: inline
		.image_on_top
			right: -50px

@media (min-width: 640px)
	.main_screen_special_offer
		.body
			.accurate_calculation
				span
					display: inline
		.image_on_top
			right: 0

@media (min-width: 768px)
	.main_screen_special_offer
		padding: 50px 90px 70px 0
		.body
			h1
				font-size: 40px
			.subtitle
				font-size: 28px
				margin: 0 0 20px 0
			.price
				font-size: 48px
				margin: 0 0 60px 0
				span
					font-size: 28px
			.offer
				position: absolute
				left: 280px
				top: 150px
				.red
					font-size: 16px
					padding: 8px 30px