.main_screen
	padding: 30px 0 0 0
	display: none
	// margin: 0 0 50px 0
	.body
		text-align: center
		.title
			font-size: 28px
			font-weight: 700
			margin: 0 0 20px 0
		.recommend
			display: none
		.img_video
			cursor: pointer
			margin: 0 0 20px 0
		.subtitle
			margin: 0 0 10px 0
		button.black
			font-size: 22px
			padding: 20px 45px
	.video_button
		display: none
@media (min-width: 768px)
	.main_screen
		background-image: url(../image/main_screen/main.png)
		background-position: top right
		background-size: contain
		background-repeat: no-repeat
		background-color: #f2f9fc
		padding: 0
		position: relative
		.body
			padding: 40px
			text-align: left
			.recommend
				display: block
				font-size: 18px
				font-weight: 700
				margin: 0 0 20px 0
			.img_video
				display: none
			.subtitle
				font-size: 18px
				margin: 0 0 20px 0
		.video_button
			display: flex
			position: absolute
			right: 9%
			top: 50px
			>img
				position: relative
				&:first-of-type
					align-self: flex-start
					transition: .3s
					cursor: pointer
					z-index: 2
					&:hover
						transform: scale(1.1)
				&:last-of-type
					transform: translate(-50px, 50px)
			p
				transform: translate(-75px, 40px)
				color: #fff

@media (min-width: 992px)
	.main_screen
		.body
			padding: 50px
			max-width: 1230px
			margin: 0 auto
			.recommend
				font-size: 28px

@media (min-width: 1230px)
	.main_screen
		display: block
		background-position: 150% center
		.body
			// padding: 80px 15px 65px 15px
			padding: 115px 15px 90px 15px
			.title
				font-size: 48px
				margin: 0 0 24px 0
			.recommend
				font-size: 36px
		.video_button
			top: 150px

@media (min-width: 1800px)
	.main_screen
		background-position: top right
		.body
			padding: 80px 15px 65px 15px
			.recommend
				font-size: 48px
				margin: 0 0 65px 0

@media (min-width: 2560px)
	.main_screen
		.body
			padding: 150px 0 120px 0
			.title
				margin: 0 0 40px 0
			.subtitle
				font-size: 28px
				margin: 0 0 30px 0
			.video_button
				top: 200px
				right: 20%