.main_screen
	padding: 30px 0 0 0
	margin: 0 0 50px 0
	.body
		text-align: center
		.title
			font-size: 28px
			font-weight: 700
			margin: 0 0 20px 0
		.recommend
			display: none
		.img_video
			cursor: pointer
			margin: 0 0 20px 0
		.video
			display: none
			position: fixed
			top: 0
			left: 0
			z-index: 10
			background-color: rgba(0, 0, 0, 0.75)
			width: 100%
			height: 100%
			align-items: center
			justify-content: center
			&.active
				display: flex
			.cross
				position: absolute
				top: 0
				right: 0
				padding: 20px
				cursor: pointer
				background-color: rgba(255, 255, 255, .25)
				display: flex
				align-items: center
				justify-content: center
				&::before, &::after
					content: ""
					display: block
					width: 30px
					height: 2px
					position: absolute
					background-color: #fff
				&::before
					transform: rotate(-45deg)
				&::after
					transform: rotate(45deg)
			video
				max-width: 1230px
				width: 100%
		.subtitle
			margin: 0 0 10px 0
		button.black
			font-size: 22px
			padding: 20px 45px
	.video_button
		display: none
@media (min-width: 768px)
	.main_screen
		background-image: url(../image/main_screen/main.png)
		background-position: top right
		background-size: contain
		background-repeat: no-repeat
		background-color: #f2f9fc
		padding: 0
		position: relative
		.body
			padding: 40px
			text-align: left
			.recommend
				display: block
				font-size: 18px
				font-weight: 700
				margin: 0 0 20px 0
			.img_video
				display: none
			.subtitle
				font-size: 18px
				margin: 0 0 20px 0
		.video_button
			display: flex
			position: absolute
			right: 9%
			top: 50px
			>img
				position: relative
				&:first-of-type
					align-self: flex-start
					transition: .3s
					cursor: pointer
					z-index: 2
					&:hover
						transform: scale(1.1)
				&:last-of-type
					transform: translate(-50px, 50px)
			p
				transform: translate(-75px, 40px)
				color: #fff

@media (min-width: 992px)
	.main_screen
		.body
			padding: 50px
			max-width: 1230px
			margin: 0 auto
			.recommend
				font-size: 28px

@media (min-width: 1230px)
	.main_screen
		.body
			padding: 80px 15px 65px 15px
			.title
				font-size: 48px
				margin: 0 0 24px 0
			.recommend
				font-size: 36px
		.video_button
			top: 150px

@media (min-width: 1800px)
	.main_screen
		.body
			.recommend
				font-size: 48px
				margin: 0 0 65px 0

@media (min-width: 2560px)
	.main_screen
		.body
			padding: 150px 0 120px 0
			.title
				margin: 0 0 40px 0
			.subtitle
				font-size: 28px
				margin: 0 0 30px 0
			.video_button
				top: 200px
				right: 20%