.technologies
	@extend %regular_block
	&.small
		.body
			padding: 0 15px
			.swiper-wrapper
				flex-wrap: wrap
				gap: 20px
				.item
					width: 100%
	.title
		@extend %block_title
		margin: 0 0 15px 0
		text-align: center
	.body
		padding: 0 0 0 15px
		.swiper-wrapper
			.item
				width: 85%
				img
					margin: 0 0 10px 0
				.headline
					margin: 0 0 5px 0
					font-size: 18px
					font-weight: 600
				.text
					font-size: 14px
@media (min-width: 640px)
	.technologies
		&.small
			.body
				.swiper-wrapper
					gap: 20px 10px
					.item
						width: calc((100% - 10px) / 2)
@media (min-width: 768px)
	.technologies
		.body
			.swiper-wrapper
				.item
					width: 45%
@media (min-width: 992px)
	.technologies
		.title
			margin: 0 0 40px 0
			text-align: left
		.body
			padding: 0 15px
			max-width: 1230px
			.swiper-wrapper
				flex-wrap: wrap
				gap: 20px 10px
				.item
					width: calc((100% - 10px) / 2)
					img
						margin: 0 0 20px 0
					.headline
						margin: 0 0 10px 0
						font-size: 22px
					.text
						font-size: 16px